images/aim.png
images/bullet.png
images/dog_happy1.png
images/dog_happy2.png
images/dog_jump1.png
images/dog_jump2.png
images/dog_smell.png
images/dog_smile1.png
images/dog_smile2.png
images/dog_walk1.png
images/dog_walk2.png
images/dog_walk3.png
images/dog_walk4.png
images/dog_walk5.png
images/duck_icon.png
images/duckBlack1.png
images/duckBlack2.png
images/duckBlack3.png
images/duckBlack4.png
images/duckBlack5.png
images/duckBlack6.png
images/duckBlack7.png
images/duckBlack8.png
images/duckBlack9.png
images/duckhunt_various_sheet.png
music/8-bit.ogg
music/mainMus.ogg
music/shoot.ogg
__pycache__/Aim.cpython-310.pyc
__pycache__/aim.cpython-310.pyc
__pycache__/bullet_panel.cpython-310.pyc
__pycache__/Bullets.cpython-310.pyc
__pycache__/dog.cpython-310.pyc
__pycache__/Duck Hunt.cpython-310.pyc
__pycache__/duck.cpython-310.pyc
__pycache__/happyDog.cpython-310.pyc
__pycache__/pyganim.cpython-310.pyc
__pycache__/round_panel.cpython-310.pyc
__pycache__/Score.cpython-310.pyc
__pycache__/settings.cpython-310.pyc
__pycache__/test.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
todo
__pycache__/happy_dog.cpython-310.pyc
__pycache__/score_panel.cpython-310.pyc
__pycache__